openapi: 3.0.3
info:
  title: API REST - Hub Sistema de Reservas
  description: Contrato OpenAPI diseñado a partir del modelo relacional de la Base de Datos para el control de recursos del Hub.
  version: 1.0.0
servers:
  - url: https://api.hubreservas.es/api/v1
    description: Servidor Local de Desarrollo
paths:
  /recursos/{id_recurso}/reservas:
    parameters:
      - name: id_recurso
        in: path
        required: true
        description: Identificador numérico del recurso (Estudio, Sala, Auditorio)
        schema:
          type: integer
    get:
      summary: Listar reservas de un recurso
      description: Imprimir todas las reservas
      responses:
        '200':
          description: Listado de reservas imprimido con éxito.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reserva'
    post:
      summary: Crear una nueva reserva
      description: Inserta una nueva reserva.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservaInput'
      responses:
        '201':
          description: Reserva creada con éxito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reserva'
        '400':
          description: Error de validación.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidacion'

  /recursos/{id_recurso}/reservas/{id_reserva_local}:
    parameters:
      - name: id_recurso
        in: path
        required: true
        schema:
          type: integer
      - name: id_reserva_local
        in: path
        required: true
        description: Identificador local de la reserva para ese recurso específico
        schema:
          type: integer
    get:
      summary: Obtener una reserva concreta por su clave compuesta
      responses:
        '200':
          description: Datos de la reserva localizados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reserva'
        '404':
          description: Reserva no encontrada.
    delete:
      summary: Eliminar una reserva
      responses:
        '204':
          description: Reserva eliminada con éxito.

components:
  schemas:
    Reserva:
      type: object
      properties:
        id_recurso:
          type: integer
          example: 1
        id_reserva_local:
          type: integer
          example: 1
        id_usuario:
          type: integer
          example: 2
        recurso_nombre:
          type: string
          example: "Estudio de Podcast"
        fecha:
          type: string
          format: date
          example: "2026-03-20"
        hora_inicio:
          type: string
          example: "10:00:00"
        hora_fin:
          type: string
          example: "11:30:00"
        coste:
          type: number
          format: float
          example: 45.00
        numero_plazas:
          type: integer
          example: 2
        motivo:
          type: string
          example: "Grabación Episodio 1"
        observaciones:
          type: string
          example: "Necesita técnico de sonido"

    ReservaInput:
      type: object
      required:
        - fecha
        - hora_inicio
        - hora_fin
      properties:
        fecha:
          type: string
          format: date
          example: "2026-03-20"
        hora_inicio:
          type: string
          example: "10:00:00"
        hora_fin:
          type: string
          example: "11:30:00"
        numero_plazas:
          type: integer
          example: 2
        motivo:
          type: string
          example: "Grabación Episodio 1"
        observaciones:
          type: string
          example: "Necesita técnico de sonido"

    ErrorValidacion:
      type: object
      properties:
        error:
          type: string
          example: "Datos de entrada incorrectos"
        detalles:
          type: array
          items:
            type: object
            properties:
              campo:
                type: string
                example: "hora_fin"
              mensaje:
                type: string
                example: "La hora de finalización debe ser mayor a la hora de inicio"